<%= form_for(@talk) do |f| %>
  <% if @talk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@talk.errors.count, "error") %> prohibited this talk from being saved:</h2>

      <ul>
      <% @talk.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.text_field :presenter,   :placeholder => "Name"                    %><br />
    <%= f.text_field :email,       :placeholder => "Email (private!)"        %><br />
    <%= f.text_field :title,       :placeholder => "Title"                   %><br />
    <%= f.text_area  :description, :placeholder => "Description", :rows => 3 %><br />
    <%= f.select :kind, talk_kinds %>

    <%= hidden_field_tag :password, "" %>

    <%= f.submit %>
  </div>
<% end %>
