<div class="row-fluid">
  <div class="span3" id='come-talk'>
    <h1>Come talk with us!</h1>
    <hr>
    <p class="lead">
      If there is anything we love, it is learning and creating. We would
      really love it if you shared your knowledge and/or your experiences
      with us.
    </p>
    <%= link_to_modal 'Submit Talk', new_talk_path, class: "button btn btn-info" %>
  </div>

  <div class="span9" id='content'>
    <div class='span9' id='tabs'>
      <div class='span3' id='upcoming-talks'>
        <a href="#upcoming" class='sel'>Upcoming Talks</a>
      </div>
      <div class='span3' id='proposed-talks'>
        <a href= "#proposed">Proposed Talks</a>
      </div>
      <div class='span3' id='past-talks'>
        <a href="#past">Past Talks</a>
      </div>
    </div>

    <section id="upcoming">
      <div class="talk-box">
        <% @talks.each do |talk| %>
          <div class="row-fluid">
            <div class="upcoming_talk span9">
              <h4><%= link_to "#{talk.title}", talk_path(talk) %></h4>
              <div><%= indefinite_Articlerize talk.kind %> talk proposed by <%= talk.presenter %></div>
              <p class="description"><%= talk.description %></p>
            </div>
          </div>
        <% end %>
      </div>
    </section>

    <section id="proposed" class="hidden">
      <div class="talk-box">
         <% @talks.each do |talk| %>
          <div class="row-fluid">
            <div class="upcoming_talk span9">
              <h4><%= link_to "#{talk.title}", talk_path(talk) %></h4>
              <div><%= indefinite_Articlerize talk.kind %> talk proposed by <%= talk.presenter %></div>
              <p class="description"><%= talk.description %></p>
            </div>
          </div>
        <% end %>
      </div>
    </section>

    <section id="past" class="hidden">
      <div class="talk-box">
         <% @talks.each do |talk| %>
          <div class="row-fluid">
            <div class="upcoming_talk span9">
              <h4><%= link_to "#{talk.title}", talk_path(talk) %></h4>
              <div><%= indefinite_Articlerize talk.kind %> talk proposed by <%= talk.presenter %></div>
              <p class="description"><%= talk.description %></p>
            </div>
          </div>
        <% end %>
      </div>
    </section>
  </div>
</div>

