<div class="row-fluid">
  <div class="span4">
    <h1>Come talk with us!</h1>

    <br/>

    <p class="lead">
      If there is anything we love, it is learning and creating. We would
      really love it if you shared your knowledge and/or your experiences
      with us.
    </p>
  </div>
  <div class="span8">
    <%= render 'form' %>

    <p>
      <small>
        This is nerd focused... Not marketing-focused. Not
        sales-focused. Not recruitment-focused. If you want to talk
        about your company, just make sure you talk
        about <u>using</u> your product. Something we can share.
      </small>
    </p>
  </div>
</div>

<br />

<h1>Proposed Talks</h1>

<% @talks.each_slice(3).each do |row| %>
  <div class="row-fluid">
    <% row.each do |talk| %>
      <div class="proposed_talk span4">
        <h4><%= talk.title %></h4>
        <div><%= indefinite_Articlerize talk.kind %> talk proposed by <%= talk.presenter %></div>
        <p class="description"><%= talk.description %></p>
      </div>
    <% end %>
  </div>
<% end %>

<%= link_to 'Suggest a Topic For a Talk', suggestions_path, {:style => 'font-size 16px; font-weight: bold'} -%>
