<div class="row-fluid">
  <div class="span8">
  <h2>Recent Talks</h2>

  <% @recent_talks.each_slice(3).each do |row| %>
    <div class="row-fluid">
      <% row.each do |talk| %>
        <div class="proposed_talk span4">
          <h4><%= link_to talk.title, talk %></h4> <%= talk.scheduled_date %>
          <div><%= indefinite_Articlerize talk.kind %> talk given by <%= talk.presenter %></div>
          <p class="description">
            <%= talk.description.truncate(200, separator: ' ', omission: "...") unless talk.description.nil? %>
            <%= if talk.description.length > 200 then link_to("read more", talk) end unless talk.description.nil? %>
          </p>
        </div>
      <% end %>
    </div>
  <% end %>

  <%= link_to 'More Talks', talks_past_path, {:style => 'font-size 16px; font-weight: bold'} -%>
  </div>
  <div class="span4">
    <h1>Come talk with us!</h1>

    <br/>

    <p class="lead">
      If there is anything we love, it is learning and creating. We would
      really love it if you shared your knowledge and/or your experiences
      with us.
    </p>

    <%= link_to "Propose a talk", new_talk_path, :class => "btn" %>
  </div>
</div>
