<div class="row-fluid">
  <div class="span4">
    <h1>Come talk with us!</h1>
    <br/>
    <p class="lead">
      If there is anything we love, it is learning and creating. We would
      really love it if you shared your knowledge and/or your experiences
      with us.
      <%= link_to_modal 'Submit Talk', new_talk_path, class: "button btn btn-info" %>
    </p>
  </div>
</div>

<br />
<div class="span12" id='content'>
  <div class='tabs'>
    <div class='span4' id='upcoming-talks'>
      <a href="#upcoming" class='sel'>Upcoming Talks</a>
    </div>
    <div class='span4' id='proposed-talks'>
      <a href= "#proposed">Proposed Talks</a>
    </div>
    <div class='span4' id='past-talks'>
      <a href="#past">Past Talks</a>
    </div>
  </div>

  <section id="upcoming">
    <div class="talk-box">
      <% @talks.each_slice(3).each do |row| %>
        <div class="row-fluid">
          <% row.each do |talk| %>
            <div class="upcoming_talk span4">
              <h4><%= link_to "#{talk.title}", talk_path(talk) %></h4>
              <div><%= indefinite_Articlerize talk.kind %> talk proposed by <%= talk.presenter %></div>
              <p class="description"><%= talk.description %></p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </section>

  <section id="proposed" class="hidden">
    <div class="talk-box">
      <% @talks.each_slice(3).each do |row| %>
        <div class="row-fluid">
          <% row.each do |talk| %>
            <div class="proposed_talk span4">
              <h4><%= link_to "#{talk.title}", talk_path(talk) %></h4>
              <div><%= indefinite_Articlerize talk.kind %> talk proposed by <%= talk.presenter %></div>
              <p class="description"><%= talk.description %></p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </section>

  <section id="past" class="hidden">
    <div class="talk-box">
      <% @talks.each_slice(3).each do |row| %>
        <div class="row-fluid">
          <% row.each do |talk| %>
            <div class="past_talk span4">
              <h4><%= link_to "#{talk.title}", talk_path(talk) %></h4>
              <div><%= indefinite_Articlerize talk.kind %> talk given by <%= talk.presenter %></div>
              <p class="description"><%= talk.description %></p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </section>
</div>

