<div class="row-fluid">
  <div class="proposed_talk span8 offset2">
    <h1><%= @talk.title %></h1>
    <p class="lead"><%= indefinite_Articlerize @talk.kind %> talk proposed by <%= @talk.presenter %></p>
    <p><%= @talk.description %></p>
    <hr />
    <p><i class="icon-arrow-left"></i><%= link_to "Back to talks", talks_path %></p>

    <%= render 'comments' %>
  </div>
</div>
