<p id="notice"><%= notice %></p>
<h3>Presenter</h3>
<%= @talk.presenter %>
<h3>Title</h3>
<%= @talk.title %>
<h3>Description</h3>
<%= @talk.description %>
<h3>Kind</h3>
<%= @talk.kind %>

<%= link_to 'Edit', edit_talk_path(@talk) %> |
<%= link_to 'Back', talks_path %>
