<div class='talk'>
  <h1><%= @talk.title %>
  <small> <%= @talk.presenter %></small></h1><hr>
  <h3>When: <%= @talk.scheduled_date.to_time.strftime("%A, %B %d, %Y") %></h3>
  <h4>Type: <%= @talk.kind %></h4>
  <h3>Description:</h3>
  <p>
    <%= @talk.description %>
  </p>

</div>