<% content_for :style do %>
  form {
  display: inline-block;
  min-width: 0;
  padding: 0;
  }
  ul li { padding: 0; margin: 0; }
<% end %>

<p style="color: green"><%= notice %></p>

<%= render @user %>
<%= @admin and render partial: "edit" %>

<% if @user.reviews.present? then %>
  <%= render partial: "reviews/reviews", object: @user.reviews %>
<% end %>

<% if @user.projects.present? then %>
  <h2> Projects (<%= @user.projects.count %>): </h2>

  <ul>
    <% @user.projects.order("lower(name)").each do |project| %>
      <li><%= link_to project.name, project_path(project) %></li>
    <% end %>
  </ul>
<% end %>
