<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello Awesome Seattle.rb Admin, a new talk has been submitted!</h1>
    <p>Presenter: <%= @talk.presenter %></p>
    <p>Email: <%= @talk.email %></p>
    <p>Title: <%= @talk.title %></p>
    <p>Kind: <%= @talk.kind %></p>
    <p>Description: <%= @talk.description %></p>
  </body>
</html>