<p style="color: green"><%= notice %></p>

<%= render @project %>

<%= @admin and render partial: "edit" %>

<% unless @project.reviews.empty? then %>
  <%= render partial: "reviews/reviews", object: @project.reviews %>
<% end %>

<h2> Contributors: </h2>

<ul>
  <% @project.users.each do |user|  %>
    <li><%= link_to user.name, user_path(user) %></li>
  <% end %>
</ul>
