<div class='row'>
  <div id="map" class='span12'>
    <div id="newsletter" class='span4'>
      <h1>Join the Mailing Lists</h1>
      These are low-volume and spam-free.
    </div>
    <div id="newsletter" class='span6'>
      <%= form_tag subscribe_path do %>
      <div class="control-group">
        <%= label_tag 'subscribe[person][email]', "Email", class: "inline" %>
        <%= text_field_tag 'subscribe[person][email]', "", placeholder: "joe@example.com" %>
      </div>
      <div class="control-group">
        <%= check_box_tag "subscribe[subscribe_to_discussion]", 1, true %>
        <%= label_tag "subscribe[subscribe_to_discussion]", "Subscribe to Ruby Discussion" %>
        <br />
        <%= check_box_tag "subscribe[subscribe_to_jobs]", 1, true %>
        <%= label_tag "subscribe[subscribe_to_jobs]", "Subscribe to Ruby Jobs" %>
      </div>
      <%= submit_tag "Subscribe", class: 'btn' %>
      <% end %>
    </div>
  </div>
</div>
