<!-- I support your decision, I believe in change and hope you find just what it is that you are looking for. -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang='en-US' xml:lang='en-US' xmlns='http://www.w3.org/1999/xhtml'>

  <head>
    <title>Seattle.rb | Seattle Ruby Brigade</title>
    <meta content='text/html;charset=utf-8' http-equiv='Content-Type' />
    <meta content='en' http-equiv='content-language' />
    <link href='http://seattlerb.org' rel='home' />
    <meta content="" name='description' />
    <link href='http://seattlerb.org' rel='start' title='Seattle.rb | Seattle Ruby Brigade' />
    <%= stylesheet_link_tag "blueprint/print", :media => "print" %>
    <%= stylesheet_link_tag "blueprint/screen", :media => "screen" %>
    <%= stylesheet_link_tag "application", :media => "screen" %>
    <!--[if lte IE 6]><%= stylesheet_link_tag "blueprint/ie", :media => "print" %><![endif]-->
  </head>

  <body>
    <div class="container">
      <h1>Seattle.rb - STAGING</h1>
      <h3>
        <strong><%= @dudes.length %></strong> people,
        <strong><%= @projects.length %></strong> projects
      </h3>

      <div id='meetings' class="span-22 prepend-1 append-1">
        <h2>
          Location <abbr class="amp">&amp;</abbr> Schedule
          <a href="http://suda.co.uk/projects/X2V/get-vcard.php?uri=http://seattlerb.org"><img alt="download this hCard" class="download" src="/images/icon_hcard_download.png" /></a>
        </h2>
        <div id='map' class="span-11">
          <a href='http://maps.google.com/maps?q=550+Broadway+E,+Seattle'>
            <img alt='Vivace Cafe on Google Maps' class='map' src='/images/vivace_on_google_map.png' />
          </a>
        </div><!-- #map -->
        <div id='meeting' class="span-11 last">
          <div class='vcard'>
            <div class='org'>Vivace Cafe</div>
            <div class='adr'>
              <span class='street-address'>550 East Broadway</span>
              <span class='locality'>Seattle</span>,
              <span class='region'>WA</span>,
              <span class='postal-code'>98102</span>
            </div>
          </div>
          <div class='vcalendar' id='events'>
            <div class='vevent'>
              <span class='dtstart' title='20070102T190000'>Every Tuesday from 7:00p to</span>
              <span class='dtend' title='20070102T210000'>9:00p</span>
              <span class='location'>Vivace Cafe</span>
              <span class='standout summary'>Hack Night. Everyone is welcome!</span>
            </div>
          </div>
        </div><!-- #meeting -->
      </div><!-- #meetings -->


      <div id="people" class="span-22 prepend-1 append-1">
        <table>
          <caption>People</caption>
          <% @dudes.each_with_index do |dude, index| %>
            <tr class="vcard person <%= cycle("alt", "") %>">
              <th>
                <span class="fn"><%= dude.name.gsub(/\s/, "&nbsp;") %></span>
                <% if dude.website %><span class="url"><%= link_to(dude.website.sub(/http:\/\//, ""), dude.website) %></span><% end %>
                <% if dude.email %><p class="email"><%= mail_to(dude.email, dude.email, :encode => "javascript") %></p><% end %>
                <% if dude.bio %><p class="note bio"><%= dude.bio %></p><% end %>
              </th>
              <td class="person_projects">
                <ul>
                  <% dude.projects.sort_by{|p| p.name.downcase}.each do |project| %>
                    <li><%= link_to_unless(project.url.blank?, project.name, project.url) %></li>
                  <% end %>
                </ul>
              </td>
            </tr>
          <% end %>
        </table>
      </div><!-- #people -->

      <div id="projects" class="span-22 prepend-1 append-1">
        <table>
          <caption>Projects</caption>
          <% @projects.each do |project| %>
            <tr class="project <%= cycle("alt", "") %>">
              <th>
                <span class="name"><%= project.name %></span>
                <% unless project.url.blank? %><span class="url"><%= link_to(project.url.gsub(/http:\/\/|www.|\/$/, ""), project.url) %></span><% end %>
                <ul class="project_people">
                  <% project.dudes.each do |dude| %>
                    <li class="project_person"><%= link_to_unless(dude.website.nil?, dude.name, dude.website) %></li>
                  <% end %>
                </ul>
              </th>
              <td class="description">
                <%= project.description.gsub(/&/, "") %>
              </td>
            </tr>
          <% end %>
        </table>
      </div><!-- #projects -->

      <div id="footer" class="span-24">
        <p>We will light you on fire</p>
      </div><!-- #footer -->

    </div><!-- .container -->
  </body>
</html>
