<!-- I support your decision, I believe in change and hope you find just what it is that you are looking for. -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang='en-US' xml:lang='en-US' xmlns='http://www.w3.org/1999/xhtml'>

  <head>
    <title>Seattle.rb | Seattle Ruby Brigade</title>
    <meta content='text/html;charset=utf-8' http-equiv='Content-Type' />
    <meta content='en' http-equiv='content-language' />
    <link href='http://seattlerb.org' rel='home' />
    <meta content="" name='description' />
    <link href='http://seattlerb.org' rel='start' title='Seattle.rb | Seattle Ruby Brigade' />
    <%= stylesheet_link_tag "blueprint/print", :media => "print" %>
    <%= stylesheet_link_tag "blueprint/screen", :media => "screen" %>
    <%= stylesheet_link_tag "application", :media => "screen" %>
    <!--[if lte IE 6]><%= stylesheet_link_tag "blueprint/ie", :media => "print" %><![endif]-->
  </head>

  <body>
    <div class="container">
      <h1>Seattle.rb</h1>
      <!-- <h2>We will light you on fire</h2> -->
      <div id="people" class="span-22 prepend-1 append-1">

        <table>
          <caption>People</caption>
          <% @dudes.each_with_index do |dude, index| %>
            <tr class="vcard person <%= cycle("alt", "") %>">
              <th>
                <span class="fn"><%= dude.name.gsub(/\s/, "&nbsp;") %></span>
                <% if dude.website %><span class="url"><%= link_to(dude.website, dude.website) %></span><% end %>
                <% if dude.bio %><p class="note bio"><%= dude.bio %></p><% end %>
              </th>
              <td class="person_projects">
                <ul>
                  <% dude.projects.each do |project| %>
                    <li><%= link_to_unless(project.url.blank?, project.name, project.url) %></li>
                  <% end %>
                </ul>
              </td>
            </tr>
          <% end %>
          
        </table>
      </div><!-- #people -->

      <div id="projects" class="span-24">
        <h2>Projects</h2>
        <dl>
          <% @projects.each do |project| %>
            <dt class="name">
              <%= link_to_unless(project.url.blank?, project.name, project.url) %>
            </dt>
            <% unless project.description.blank? %>
              <dd class="description"><%= h project.description %></dd>
            <% end %>
            <dd class="project_dudes">
              <ul>
                <% project.dudes.each do |dude| %>
                  <li class="project_dude"><%= link_to_unless(dude.website.nil?, dude.name, dude.website) %></li>
                <% end %>
              </ul>
            </dd>
          <% end %>
        </dl>
      </div>
    </div>

  </body>
</html>