<div class='join-us row'>
  <div class='span8'>
    <div id='map'>
      <h2>When & Where?</h2>
      Come hack with us! We’re at Vivace Café every Tuesday from 7-9 p.m. Bring whatever you’re working on, grab a cup of coffee, and meet other Rubyists. Everyone is welcome!
      <table>
        <tr>
          <td><i class='icon-time'></i></td>
          <td><h3><time>7:00p</time> to <time>9:00p</time> Every Tuesday</h3></td>
        </tr>
        <tr>
          <td><i class='icon-map-marker'></i></td>
          <td>
            <address>
              <h3>Vivace Cafe</h3>
              532 Broadway Ave E<br />
              Seattle, WA 98102
            </address>
          </td>
        </tr>
      </table>
      <iframe width="100%" height="420" frameborder="1" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?ie=UTF8&amp;cid=1796984254826196308&amp;q=Vivace+Espresso+Bar+at+Brix&amp;gl=US&amp;hl=en&amp;ll=47.625952,-122.320737&amp;spn=0.006295,0.006295&amp;t=m&amp;iwloc=A&amp;output=embed"></iframe>
    </div>
  </div>
  <div class='span4'>
    <h2>Join the Mailing Lists</h2>
    
    <%= form_tag subscribe_path do %>
      <div class="control-group">
        <%= label_tag 'subscribe[person][email]', "Email", class: "inline" %>
        <%= text_field_tag 'subscribe[person][email]', "", placeholder: "joe@example.com" %>
      </div>
      <div class="control-group">
        <%= check_box_tag "subscribe[subscribe_to_discussion]", 1, true %>
        <%= label_tag "subscribe[subscribe_to_discussion]", "Subsribe to Ruby Discussion" %>
        <br />
        <%= check_box_tag "subscribe[subscribe_to_jobs]", 1, true %>
        <%= label_tag "subscribe[subscribe_to_jobs]", "Subsribe to Ruby Jobs" %>
      </div>
      <%= submit_tag "Subscribe", class: 'btn' %>
    <% end %>
  </div>
</div>