<% @dudes.each do |dude| %>
  <div class='profile row'>
    <img class='span2' src=<%= dude.image_url %>>
    <div class="span10 description">
      <h1><%= dude.name %></h1>
      <p><%= dude.bio %></p>
      <ul class='links'>
        <%= raw twitter_link dude.twitter %>
        <li><i class='icon-envelope '></i><a href="#">Email</a></li>
        <li><i class='icon-user '></i><a href=<%= dude.github %>>Github</a></li>
      </ul>
    </div>
  </div>
<% end %>

<% @dudes.in_groups_of(2).each do |group| %>
  <div class='row'>
    <% group.compact.each do |dude| %>
      <div class='span6 mini-profile'>
        <img src='img/ruby.png'>
        <h2><%= dude.name %></h2>
        <%= dude.bio %>
        <ul class='links'>
          <% if dude.website %><li><i class='icon-user '></i><a href=<%= dude.website %>>Website</a></li><% end %>
          <% if dude.ruby_gems_id %><li><i class='icon-user '></i><a href="http://rubygems.org/profiles/<%= dude.ruby_gems_id %>">Ruby Gems</a></li><% end %>
          <% if dude.email %><li><i class='icon-envelope '></i><a href="mailto:<%= dude.email %>">Email</a></li><% end %>
          <%= raw twitter_link dude.twitter %>
        </ul>
      </div>
    <% end %>
  </div>
<% end %>
