<% @dudes.each do |dude| %>
  <div class='profile row'>
    <img class='span2' src=<%= dude.image_url %>>
    <div class="span10 description">
      <h1><%= dude.name %></h1>
      <p><%= dude.bio %></p>
      <ul class='links'>
        <%= raw twitter_link dude.twitter %>
        <li><i class='icon-envelope '></i><a href="#">Email</a></li>
        <li><i class='icon-user '></i><a href=<%= dude.github %>>Github</a></li>
      </ul>
    </div>
  </div>
<% end %>

<div class='row'>
  <div class='span6 mini-profile'>
    <img src='img/ruby.png'>
    <h2>Alex Vollmer</h2>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
    <ul class='links'>
      <li><i class='icon-envelope '></i><a href="#">Email</a></li>
      <li><i class='icon-user '></i><a href="#">Github</a></li>
      <li><i class='icon-leaf '></i><a href="#">@tenderlove</a></li>
    </ul>
    
  </div>
  <div class='span6 mini-profile'>
    <img src='img/ruby.png'>
    <h2>Alex Vollmer</h2>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
    <ul class='links'>
      <li><i class='icon-envelope '></i><a href="#">Email</a></li>
      <li><i class='icon-user '></i><a href="#">Github</a></li>
      <li><i class='icon-leaf '></i><a href="#">@tenderlove</a></li>
    </ul>
    
  </div>
</div>

<div class='row'>
  <div class='span6 mini-profile'>
    <img src='img/ruby.png'>
    <h2>Alex Vollmer</h2>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
    <ul class='links'>
      <li><i class='icon-envelope '></i><a href="#">Email</a></li>
      <li><i class='icon-user '></i><a href="#">Github</a></li>
      <li><i class='icon-leaf '></i><a href="#">@tenderlove</a></li>
    </ul>
  </div>
  <div class='span6 mini-profile'>
    <img src='img/ruby.png'>
    <h2>Alex Vollmer</h2>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
    <ul class='links'>
      <li><i class='icon-envelope '></i><a href="#">Email</a></li>
      <li><i class='icon-user '></i><a href="#">Github</a></li>
      <li><i class='icon-leaf '></i><a href="#">@tenderlove</a></li>
    </ul>
    
  </div>
</div>
