<% @people.each do |person| %>
  <div class='featured profile row'>
    <div class='span1'>
      <%= image_tag person.image_url %>
    </div>
    <div class="span10 description">
      <h1 id="<%= person.name.parameterize %>"><%= person.name %></h1>
      <p class='bio'><%= person.bio %></p>

      <ul class='links'>
        <%= raw rubygems_link person %>
        <%= raw github_link   person %>
        <%= raw twitter_link  person %>
        <%= raw website_link  person %>
        <%= raw email_link    person %>
      </ul>

      <%#
         projs = person.projects.sort_by { |p| p.name.downcase }.map { |p|
           link_to p.name, p.url
         }
       %>

      <%# raw projs.join ", " %>

    </div>
  </div>
<% end %>
