<p class="lead">
  <%= @projects.size %> projects from just <%= Dude.count %> people...
  <%= ["Not bad!", "How prolific!", "I've seen better..."].sample %>
</p>

<% @projects.each do |project| %>
  <div class='row project'>
    <div class='span10'>
      <h2><%= link_to project.name, project.url %></h2>
      <%= project.description %>
      <h3>Authors</h3>
      <ul class='links'>
        <% project.dudes.each do |dude| %>
          <li><%= link_to dude.name, "/people##{dude.name.parameterize}" %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
