<div id="<%= dom_id review %>">
  <div>
    <strong>Referrable:</strong>
    <%= review.referrable_id %>
  </div>

  <div>
    <strong>Referrable type:</strong>
    <%= review.referrable_type %>
  </div>

  <div>
    <strong>Field:</strong>
    <%= review.field %>
  </div>

  <div>
    <strong>Url:</strong>
    <%= review.url %>
  </div>

  <div>
    <strong>Message:</strong>
    <%= review.message %>
  </div>

</div>
