<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Seattle.rb | <%= @title ||= params[:action].humanize %></title>
  <meta name="description" content="">

  <meta name="viewport" content="width=device-width">
  <%= stylesheet_link_tag "application", :media => "all" %>
</head>
<body>
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

<nav class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to "Seattle.rb", root_path, class: 'brand' %>
      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to "People", people_path %></li>
          <li><%= link_to "Projects", projects_path %></li>
          <li><%= link_to "Join Us", join_us_path %></li>
          <li><%= link_to "Talks", talks_path %></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</nav>

<div role="main" class='container'>
  <% if notice then %><p class="text-warning notice"><%= notice %></p><% end %>
  <% if alert then %><p class="text-error alert"><%= alert %></p><% end %>

  <%= yield %>
</div>
<footer>
  Seattle Ruby Brigade: Growing the Ruby Community
</footer>
<%= javascript_include_tag 'application' %>
</body>
</html>
